.Profile
{
    border-radius: 10%;
    max-width: 300px;
    margin: auto;
    float: left;
    margin: 10px;
}

.Activity
{
    border-radius: 10%;
    max-width: 300px;
    margin: auto;
    float: right;
    margin: 10px;
}

.Card
{
    margin: 20px;

    padding: 20px;
    background-color:rgb(200,200,200) ;
    height:400px;
}